web:
    image: webdevops/php-apache:8.4@sha256:aba9ea5a3bd85b133f0ca63c7ff1a38ca01ef464929944b69818217d96935036
    ports:
    - "80:80"
    links:
    - db
    volumes:
    - $PWD:/app
    environment:
        DB_DATABASE: "${MYSQL_DATABASE}"
        DB_USER: "${MYSQL_USER}"
        DB_PASSWD: "${MYSQL_PASSWORD}"
        DB_HOST: "${MYSQL_HOST}"

db:
    image: mysql@sha256:932fe8fbc04c1488a38f8cab0f30cdac8d7753bded3df1762475a8001a323bc4
    ports:
    - "3306:3306"
    environment:
        MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
        MYSQL_DATABASE: "${MYSQL_DATABASE}"
        MYSQL_USER: "${MYSQL_USER}"
        MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
