web:
    image: webdevops/php-apache:8.4@sha256:aba9ea5a3bd85b133f0ca63c7ff1a38ca01ef464929944b69818217d96935036
    ports:
    - "80:80"
    links:
    - db
    volumes:
    - $PWD:/app
    environment:
        DB_DATABASE: "${MYSQL_DATABASE}"
        DB_USER: "${MYSQL_USER}"
        DB_PASSWD: "${MYSQL_PASSWORD}"
        DB_HOST: "${MYSQL_HOST}"

db:
    image: mysql@sha256:569c4128dfa625ac2ac62cdd8af588a3a6a60a049d1a8d8f0fac95880ecdbbe5
    ports:
    - "3306:3306"
    environment:
        MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
        MYSQL_DATABASE: "${MYSQL_DATABASE}"
        MYSQL_USER: "${MYSQL_USER}"
        MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
